{extend name="common/personal"}
{block name="personal"}
<div id="pc2">
	<div id="pc21">
		<div id="load_information">
			<table>
				<tr>
				<td><a id="denglu">添加地址</a></td>
			</tr>
			<tr>
				<td><hr></td>
			</tr>
			<tr height="20px">
				<td></td>
			</tr>
			<form action="/doaddaddr" method="post">
				<tr height="80px">
					<td>
						<span class="pi4">*收货人</span><br>
						<input type="text" name="aname" class="text">
					</td>
				</tr>
				<tr height="80px">
					<td>
						<span class="pi4">*收货地址</span><br>
						<input type="text" name="addr" class="text">
					</td>
				</tr>
				<tr height="80px">
					<td>
						<span class="pi4">*联系电话</span><br>
						<input type="text" name="tel" class="text">
					</td>
				</tr>
				<tr height="80px">
					<td>
						<span class="pi4">备用电话</span><br>
						<input type="text" name="sparetell" class="text">
					</td>
				</tr>
				<tr height="80px">
					<td>

						<span class="pi4">电子邮箱</span><br>
						<input type="email" name="email" class="text">
					</td>
				</tr>
				
				<tr height="80px">
					<td>
						<input type="submit" value="保存信息" class="anniu">
						</td>
					</tr>
				</form>
			</table>
		</div>
	<div id="nav"></div>
	</div>
</div>	
{/block}