{include file="common/header"}
<div id='precart-p'>
    <div id='precart-c'>
        <div id='pre-l'>
            <p>商品已成功加入购物车！</p>

            <img src='{:config('disp_path').$good->gpic}'><div>
                <span>{$good->gdesc}</span>
                <span>颜色：★Q300系列★高性价比主推款尺码：【240G-256G】/ 数量：{$good->cnt}</span>
            </div>
        </div>
        <div id='pre-r'>
            <a href='/'>返回</a>
            <a href='/cart/list'>去购物车结算</a>
        </div>
    </div>
</div>
<div style='clear:both;'></div>

	</body>
</html>