{extend name="common/default"}
{block name="main"}
<!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="/order/update/" method="post">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <input type="hidden" name="zid" value="{$data.id}">
                        <tr>
                            <th><i class="require-red">*</i>作品名称：</th>
                            <td>
                                <input class="common-text required" id="title" readonly="readonly" name="title" size="50" value="{$data.name}" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>作品标题：</th>
                            <td>
                                <textarea readonly="readonly" name="content" id="content" cols="70" rows="10">{$data.content}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>作品图片</th>
                            <td>
                                <img style="width:100px;" src="{:config('app.disp_path')}{$data.img}" alt="">
                            </td>
                        </tr>
                        <tr>
                            <th>打分：</th>
                            <td>
                                <input type="radio" checked="" name="score" value='1'>1分
                                <input type="radio" name="score" value='1'>2分
                                <input type="radio" name="score" value='2'>3分
                                <input type="radio" name="score" value='2'>4分
                                <input type="radio" name="score" value='3'>5分
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        </div>
    </div>
    <!--/main-->
{/block}