<center>
	<div class="ser">
	      <ul>
		    <li>
			  <a>
			    <p>
				  <img src="/static/home/image/DL/kefu.png">
				</p>
				<p class="ser-1" style="color:#FFF;">24小时在线服务</p>
			  </a>
			</li>
			<li>
			  <a>
			    <p>
				  <img src="/static/home/image/DL/tuihuo.png">
				</p>
				<p>7天内退货</p>
				<p>购物满199免运送费</p>
			  </a>
			</li>
			<li>			  
			  <p>
				<img src="/static/home/image/DL/logo_new-1.jpg" width="90">
			  </p>
			  <p style="color:#727171;">扫描下载客户端</p>
			</li>
		  </ul>
		  <div class="ser-2">
			<ul>
			  <li>
			    <a href="">关于本站</a>
			  </li>
			  <li>
			    <a href="">新手指南</a>
			  </li>
			  <li>
				<a href="">配送范围及时间</a>
			  </li>
			  <li>
				<a href="">支付方式</a>
			  </li>
			  <li>
				<a href="">售后服务</a>
			  </li> 
			  <li class="ser-right">
			    <a href="">帮助中心</a>
			  </li>
			</ul>			  
	      </div>		  
	    </div>	  
	  </div>
	  
	  <div class="button">
	    <div class="button-1">
		  <div class="button-2">
		    <span>Copyright 2007 - 2018  All Rights Reserved 京ICP证100557号 京公网安备11011502002400号 出版物经营许可证新出发京批字第直110138号</span>
		    <p>农副产品（北京）科技有限公司</p>
		  </div>
		</div>
		<div class="button-3">
		  <div class="button-4">
		    <a href="">
			  <img src="/static/home/image/DL/button-1.png">
			</a>
			<!--<a href="">-->
			  <!--<img src="/static/home/image/DL/button-2.png">-->
			<!--</a>-->
			<a href="">
			  <img src="/static/home/image/DL/button-3.png">
			</a>
			<a href="">
			  <img src="/static/home/image/DL/button-4.png">
			</a>
			<a href="">
			  <img src="/static/home/image/DL/button-5.png">
			</a>
		  </div>
		</div>
	  </div>
	
	<style>
	.backtop{
		width:75px;
		height:200px;
		border:1px solid #b81b22;
		position:fixed; 
		right:20px; 
		bottom:50px; 
		z-index:8;
		background: url(/static/home/image/DL/backtop.png);
	}
	.downapp a{
		background: url(/static/home/image/DL/backtop.png) no-repeat 0px 0px;
		height:70px;
		display:block;
	}
	.kefu a{
		background: url(/static/home/image/DL/backtop.png) no-repeat 0px 77px;
		height:70px;
		display:block;
	}
	.gotop a{
		background: url(/static/home/image/DL/backtop.png) no-repeat 0px 149px;
		height:70px;
		display:block;
	}
	</style>
	<div class="backtop">
	  <ul>
	    <li class="downapp">
		  <a href=""></a>
		</li>
		<li class="kefu">
		  <a href=""></a>
		</li>
		<li class="gotop">
		  <a href=""></a>
		</li>
	  </ul>
	</div>
</center>
