<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>农副产品 - 会员注册</title>
	<link rel="icon" href="/static/home/image/DL/logo_new-1.jpg" type="image/x-icon" />
	<style>
	</style>
	<link rel="stylesheet" type="text/css" href="/static/home/style/login.css">
</head>

<body>
	<div class="top">
		<div class="logo-top">
			<img class="logo-1" src="/static/home/image/DL/logo_new-1.jpg" style="height: 60px;width: 80px;">
		</div>
		<div class="help">
			<a href="">帮助</a>
		</div>
	</div>
	<div class="">
		<div class="center-logo" style="padding-top: 150px;">
			<img src="/static/home/image/DL/center-1.jpg">
		</div>
		<div class="center-1">
			<div class="biaodan-2">
				<form action="/save" method="post">
					<table width="100%">
						<tr>
							<td>
								<b><span style="font-size: 20px; color: #666666;">个人注册</span></b>
							</td>
							<td>
								<div class="login-div-span">
									<span>
										已有账号？现在
										<a href="/login">登录</a>
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="login-span">
									<span class="fuhao">*</span>
									用户名
								</div>
							</td>
							<td>
								<input class="login-input-text" type="text" name="uname" value="">
							</td>
						</tr>
						<tr>
							<td>
								<div class="login-span">
									<span class="fuhao">*</span>
									请设置密码
								</div>
							</td>
							<td>
								<input class="login-input-text" type="password" name="reupwd" value="">
							</td>
						</tr>
						<tr>
							<td>
								<div class="login-span">
									<span class="fuhao">*</span>
									请确认密码
								</div>
							</td>
							<td>
								<input class="login-input-text" type="password" name="upwd" value="">
							</td>
						</tr>
						<tr>
							<td>
								<div class="login-span">
									<span class="fuhao">*</span>
									联系电话
								</div>
							</td>
							<td>
								<input class="login-input-text" type="text" name="tel" value="">
							</td>
						</tr>
						
						<tr>
							<td>
								<div class="login-span">
									<span class="fuhao">*</span>
									性别
								</div>
							</td>
							<td>
								<div style="float:left; margin-left: 30px; margin-top:10px;">
									<input type="radio" name='sex' value='m'>男
                                	<input type="radio" name='sex' value='w'>女
                                	<input type="radio" name='sex' value='x'>保密
								</div>
								
							</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>
								<div style="margin-top:25px;">
									<input class="login-input-checkbox" name="" type="checkbox"  value="" style="margin:5px 6px 0 0 ; _margin:2px 6px 0 0">
									<span>
										同意
										<a href="">《农副产品交易条款与用户使用协议》</a>
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<input class="login-input-submit" type="submit" value="注册">
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
	<br>
	<hr width="80%">
	<div class="button">
		<div class="button-1">
			<div class="button-2">
				<span>Copyright 2007 - 2018 All Rights Reserved 京ICP证100557号 京公网安备11011502002400号 出版物经营许可证新出发京批字第直110138号</span>
				<p>农副产品（北京）科技有限公司</p>
			</div>
		</div>
		<div class="button-3">
			<div class="button-4">
				<a href="">
					<img src="/static/home/image/DL/button-1.png">
				</a>
				<a href="">
					<!--<img src="/static/home/image/DL/button-2.png">-->
				</a>
				<a href="">
					<img src="/static/home/image/DL/button-3.png">
				</a>
				<a href="">
					<img src="/static/home/image/DL/button-4.png">
				</a>
				<!-- <a href=""> -->
				<!-- <img src="/static/home/image/DL/button-5.png"> -->
				<!-- </a> -->
			</div>
		</div>
	</div>
</body>

</html>